.stream {
  grid-area: stream;
}

.chat {
  grid-area: chat;
}

.auction {
  grid-area: auction;
}

.stretch {
  grid-area: stretchGoals;
}

.vipps {
  grid-area: vipps;
}

.parent {
  display: grid;
  grid-template-columns: 1100px 1fr 1fr;
  grid-template-rows: 600px 200px 1fr;
  grid-template-areas: 
    "stream chat vipps"
    "stretchGoals stretchGoals stretchGoals"
    "auction auction auction"
}
