.stream {
  grid-area: stream;
  height: 200px;
}

.chat {
  grid-area: chat;
}

.beer {
  grid-area: beer;
}

.stretch {
  grid-area: stretchGoals;
}

.vipps {
  grid-area: vipps;
}

.auction {
  grid-area: auction;
}

.pane {
  border: 1px dotted black;
}

.parent {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "stream chat vipps"
    "stretchGoals stretchGoals stretchGoals"
    "auction auction auction";
}
