.wrapper {
  margin-left: auto;
  margin-right: auto;
  border-color: #f4a261;
  color: beige;
  text-align: left;
}

.wrapper th,
.wrapper td {
  border-bottom: 0.5px solid #f4a261;
  padding: 10px;
}

.header {
  color: #f4a261;
}

.tableMain {
  margin-left: auto;
  margin-right: auto;
}
