.wrapper {
  margin-left: auto;
  margin-right: auto;
  border-color: #f9b759;
  text-align: center;
}

.wrapper th,
.wrapper td {
  border-bottom: 1px solid #f9b759;
  padding: 10px;
}

.header {
  color: #f9b759;
}

.tableMain {
  margin-left: auto;
  margin-right: auto;
}
