.wrapper {
  margin-left: auto;
  margin-right: auto;
  border-color: #f9b759;
  text-align: center;
}

.wrapper table {
  width: 50%;
}

.wrapper th,
.wrapper td {
  border-bottom: 1px solid #f9b759;
}
