.wrapper {
  position: relative;
  max-height: 225px;
  float: left;
  width: 100%;
  height: 225px;
  overflow: hidden;
  overflow-y: auto;
}

.slideshow {
  margin-left: 500px;
  position: absolute;
  top: 0;
  animation: moveSlideshow 40s linear 5s infinite;
  display: flex;
}

@keyframes moveSlideshow {
  95% {
    transform: translateX(-66%);
  }
  100% {
    transform: translateX(0);
  }
}
