.youtubeWrapper {
  height: 100%;
  width: 100%;
}
.youtube {
  height: 100%;
  width: 100%;
}

.youtubeActual {
  width: 1100px;
  height: 600px;
}

@media (max-width: 500px){
  .youtubeActual {
    width: 400px;
    height: 200px;
  }
}
